/*@media queries@*/
@media all and ( max-width: 1206px ){
	.pro{
		padding: 0px;
		font-size: 12px;
	}
	.user-icon span{
		font-size: 12px;
	}
}
@media all and ( max-width: 1111px ){
	.feature-content .col-4{
		width: 30%;
		text-align: center;
		margin: auto;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.feature-content{
		text-align: center;
	}
}
@media all and ( max-width: 1080px ){
	.menu-toggle{
		text-align: left;
		width: 10%;
		float: left;
	}
.menu-toggle:before{
	content: ' \f0c9';
	font-family: fontAwesome;
	line-height: 40px;

	}
.menu-toggle.active:before{
	content: ' \f00d';
	font-family: fontAwesome;
	line-height: 40px;

	}
	.menu{
		display: none;
	}
	.menu.active{
		display: block;
	}
	.menu.active ul li{
		display: block;
		width: 100%;
	}
	.menu.active ul li a{
		display: block;
	}
	.logo-menu{
		width: 50%;
	}
	.buttons{
		width: 40%;
		float: left;
	}
	.menu.active ul li.pike{
		display: none;
	}
}
@media all and ( max-width: 960px ){
	.feature-top .feature-select{
		width: 100%;
		float: none;
		text-align: center;
	}
	.feature-top .feature-menu{
		width: 100%;
		float: none;
	}
	.feature-top .feature-filter{
		width: 100%;
		float: none;
		text-align: center;
		margin-left: 0;
	}
	.footer .col-6{
		width: 45%;
	}
}
@media all and ( max-width: 730px ){
	.feature-content .col-4{
		width: 45%;
		text-align: center;
		margin: auto;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.feature-content{
		text-align: center;
	}
}
@media all and ( max-width: 768px ){
	.banner .container .banner-content h1{
		width: 100%;
		text-align: center;
		font-size: 30px;
	}
	.banner .container .banner-content p{
		text-align: center;
		width: 100%;
	}
	.banner-content{
		text-align: center;
	}
}
@media all and ( max-width: 485px ){
	.header .logo-menu .logo img{
		width: 80px;
		margin-left: 10px;
	}
	.buttons{
		display: none;
	}
	.footer .col-6{
		width: 80%;
		float: none;
		margin-bottom: 20px;
		text-align: left;
	}
	.feature-content .col-4{
		width: 80%;
		text-align: center;
		margin: auto;
		margin-left: 40px;
		margin-bottom: 20px;
	}
}

